{
    "useEslintrc": false,
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true
    },
    "parser": "babel-eslint",
    "env": {
        "jasmine": true,
        "browser": true,
        "es6": true
    },
    "globals": [        
        "browser",
        "inject",
        "describe",
        "it",
        "xit",
        "beforeEach",
        "afterEach",
        "expect",
        "spyOn",
        "runs",
        "waits",
        "waitsFor",
        "jasmine",
        "element",
        "by",
        "debugger",
        "cc",
        "sofa",
        "angular"
    ],
    "rules": {
        "no-bitwise": true,
        "camelcase": true,
        "curly": true,
        "eqeqeq": true,
        "wrap-iife": true,
        "indent": 4,
        "no-use-before-define": true,
        "new-cap": true,
        "no-caller": true,
        "quotes": "single",
        "no-invalid-regexp": true,
        "no-undef": true,
        "no-unused-vars": true,
        "strict": "global",
        "no-trailing-spaces ": true
    }
}
